;;
;; Copyright (c) 2010-2017 Intel Corporation
;;
;; Licensed under the Apache License, Version 2.0 (the "License");
;; you may not use this file except in compliance with the License.
;; You may obtain a copy of the License at
;;
;;     http://www.apache.org/licenses/LICENSE-2.0
;;
;; Unless required by applicable law or agreed to in writing, software
;; distributed under the License is distributed on an "AS IS" BASIS,
;; WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
;; See the License for the specific language governing permissions and
;; limitations under the License.
;;

;;
; This configuration sets up a system that handles the same workload as
; config/bng-4ports.cfg. The difference is that on each of the interfaces, only
; one queue is used. Use-cases for this configuration include running in a
; virtualized environment using SRIOV.
;;

[eal options]
-n=4 ; force number of memory channels
no-output=no ; disable DPDK debug output

[port 0]
name=cpe0
mac=hardware
[port 1]
name=inet0
mac=hardware
[port 2]
name=cpe1
mac=hardware
[port 3]
name=inet1
mac=hardware
[variables]
;$wk=3s0,3s0h; 2 workers
;$wk=3s0-4s0,3s0h-4s0h; 4 workers
;$wk=3s0-5s0,3s0h-5s0h; 6 workers
$wk=5s0-8s0,5s0h-8s0h; 8 workers
;$wk=3s0-7s0,3s0h-7s0h; 10 workers
;$wk=3s0-8s0,3s0h-8s0h; 12 workers
[lua]
lpm4 = dofile("ipv4.lua")
user_table = dofile("user_table-65K-bng.lua")
[defaults]
mempool size=16K

[global]
start time=20
name=BNG (1Q)

[core 0s0]
mode=master
; IPv4
;*****************************************************************************************
;##### Load Balancing receiving from CPE and from Internet ####
[core 1s0]
name=LB-cpe
task=0
mode=nop
rx ring=yes
tx port=cpe0
task=1
mode=lbqinq
rx port=cpe0
tx cores=(${wk})t0 proto=ipv4
tx cores=(${wk})t0p proto=arp

[core 2s0]
name=LB-inet
task=0
mode=nop
rx ring=yes
tx port=inet0
task=1
mode=lbnetwork
rx port=inet0
untag mpls=yes
tx cores=(${wk})t1 proto=ipv4

[core 3s0]
name=LB-cpe
task=0
mode=nop
rx ring=yes
tx port=cpe1
task=1
mode=lbqinq
rx port=cpe1
tx cores=(${wk})t0 proto=ipv4
tx cores=(${wk})t0p proto=arp

[core 4s0]
name=LB-inet
task=0
mode=nop
rx ring=yes
tx port=inet1
task=1
mode=lbnetwork
untag mpls=yes
rx port=inet1
tx cores=(${wk})t1 proto=ipv4

;*****************************************************************************************
;#### Workers receiving from LB
;#### Task 0: QinQ decapsulation + gre encapsulation + routing
;#### Task 1: ARP
;#### Task 2: GRE depcapsulation + QinQ encapsulation + use learned mac
[core $wk]
name=Worker
task=0
mode=qinqdecapv4
rx ring=yes
tx cores from routing table=2s0,4s0
route table=lpm4
local ipv4=21.22.23.24
user table=user_table
handle arp=yes

task=1
mode=qinqencapv4
rx ring=yes
user table=user_table
tx cores from cpe table=1s0,3s0 remap=cpe0,cpe1
