;;
;; Copyright (c) 2010-2017 Intel Corporation
;;
;; Licensed under the Apache License, Version 2.0 (the "License");
;; you may not use this file except in compliance with the License.
;; You may obtain a copy of the License at
;;
;;     http://www.apache.org/licenses/LICENSE-2.0
;;
;; Unless required by applicable law or agreed to in writing, software
;; distributed under the License is distributed on an "AS IS" BASIS,
;; WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
;; See the License for the specific language governing permissions and
;; limitations under the License.
;;

;;
; This is sample ESP config.
;;


[eal options]
-n=4 ; force number of memory channels
no-output=no ; disable DPDK debug output

[port 1]
name=esp_out
#mac=68:05:ca:33:3a:00
;00:1b:21:40:4c:e1
[port 0]
name=esp_in
#mac=00:1b:21:40:4c:e0


[variables]
$tun_hop_limit=5
$lookup_port_mask=0xffc0


[defaults]
mempool size=16K

[global]
start time=20
name=esp
;esp cfg=esp.csv

[core 1s0]
mode=master

;*****************************************************************************************
[core 2s0]
name=esp_enc
task=0
mode=esp_enc
local ipv4=21.22.23.24
remote ipv4=21.22.23.25
rx port=esp_in
tx cores=3s0 task=0 proto=ipv4

;*****************************************************************************************
;# Binding table is checked to ensure src IPv4 address and port combo is allocated to the originating tunnel
[core 3s0]
name=esp_dec
task=0
mode=esp_dec
local ipv4=21.22.23.24
rx ring=yes ; gre received from internal queue
;tx port=esp_out
tx port=esp_in
