.search-box
    link(rel='stylesheet', href='/stylesheets/search_form.css')
    .form-group-custom.form-group.has-feedback
      input.search-input-rest.form-control(type='search', placeholder='Search...', id='Tags')
      i.material-icons search