;;
;; Copyright (c) 2020 Intel Corporation
;;
;; Licensed under the Apache License, Version 2.0 (the "License");
;; you may not use this file except in compliance with the License.
;; You may obtain a copy of the License at
;;
;;     http://www.apache.org/licenses/LICENSE-2.0
;;
;; Unless required by applicable law or agreed to in writing, software
;; distributed under the License is distributed on an "AS IS" BASIS,
;; WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
;; See the License for the specific language governing permissions and
;; limitations under the License.
;;

[eal options]
-n=4 ; force number of memory channels
no-output=no ; disable DPDK debug output

[port 0]
name=p0
vdev=gen_tap
local ipv4=$ip1

[defaults]
mempool size=16K

[global]
start time=5
name=Basic Gen

[variables]
$hex_ip1=0a 0a 0a 01
$hex_ip2=0a 0a 0a 02
$ip1=10.10.10.1
$ip2=10.10.10.2

[core 0s0]
mode=master

[core 1s0]
name=p0
task=0
mode=gen
sub mode=l3
tx port=p0
bps=1250000000
pkt inline=00 00 01 00 00 01 00 00 02 00 00 02 08 00 45 00 00 1c 00 01 00 00 40 11 f7 7d ${hex_ip1} ${hex_ip2} 13 88 13 88 00 08 55 7b
pkt size=60
lat pos=42
packet id pos=46
min bulk size=8

[core 2s0]
name=nop
task=0
mode=lat
sub mode=l3
rx port=p0
drop=no
lat pos=42
packet id pos=46
local ipv4=${ip1}
