;;
;; Copyright (c) 2010-2017 Intel Corporation
;;
;; Licensed under the Apache License, Version 2.0 (the "License");
;; you may not use this file except in compliance with the License.
;; You may obtain a copy of the License at
;;
;;     http://www.apache.org/licenses/LICENSE-2.0
;;
;; Unless required by applicable law or agreed to in writing, software
;; distributed under the License is distributed on an "AS IS" BASIS,
;; WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
;; See the License for the specific language governing permissions and
;; limitations under the License.
;;

[eal options]
-n=4 ; force number of memory channels
no-output=no ; disable DPDK debug output

[port 0]
name=inet_0
mac=00:00:00:00:01:01
[port 2]
name=lwB4_0
mac=00:00:00:00:00:02
[port 4]
name=inet_1
mac=00:00:00:00:01:03
[port 6]
name=lwB4_1
mac=00:00:00:00:00:04

[variables]
$tun_pcap=./lwAFTR_tun_100k.pcap
$inet_pcap=./lwAFTR_inet_100k.pcap

[defaults]
mempool size=16K

[global]
start time=20
name=Gen lwAFTR

[core 0s0]
mode=master

[core 1s0,2s0]
name=tun_0
task=0
mode=gen
tx port=lwB4_0
pcap file=$tun_pcap
lat pos=58

[core 3s0,4s0]
name=inet_0
task=0
mode=gen
tx port=inet_0
pcap file=$inet_pcap
lat pos=18

[core 1s1,2s1]
name=tun_1
task=0
mode=gen
tx port=lwB4_1
pcap file=$tun_pcap
lat pos=58

[core 3s1,4s1]
name=inet_1
task=0
mode=gen
tx port=inet_1
pcap file=$inet_pcap
lat pos=18

[core 5s0]
name=lat_in0
task=0
mode=lat
rx port=inet_0
lat pos=18

[core 6s0]
name=lat_tun0
task=0
mode=lat
rx port=lwB4_0
lat pos=58

[core 5s1]
name=lat_in1
task=0
mode=lat
rx port=inet_1
lat pos=18

[core 6s1]
name=lat_tun1
task=0
mode=lat
rx port=lwB4_1
lat pos=58
