;;
;; Copyright (c) 2010-2017 Intel Corporation
;;
;; Licensed under the Apache License, Version 2.0 (the "License");
;; you may not use this file except in compliance with the License.
;; You may obtain a copy of the License at
;;
;;     http://www.apache.org/licenses/LICENSE-2.0
;;
;; Unless required by applicable law or agreed to in writing, software
;; distributed under the License is distributed on an "AS IS" BASIS,
;; WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
;; See the License for the specific language governing permissions and
;; limitations under the License.
;;

[eal options]
-n=4 ; force number of memory channels
no-output=no ; disable DPDK debug output

[port 0]
name=p0
mac=00:00:00:00:00:01
rx desc=$rxd
tx desc=$txd
[port 1]
name=p1
mac=00:00:00:00:00:02
rx desc=$rxd
tx desc=$txd
[port 2]
name=p2
mac=00:00:00:00:00:03
rx desc=$rxd
tx desc=$txd
[port 3]
name=p3
mac=00:00:00:00:00:04
rx desc=$rxd
tx desc=$txd
[port 4]
name=p4
mac=00:00:00:00:00:05
rx desc=$rxd
tx desc=$txd
[port 5]
name=p5
mac=00:00:00:00:00:06
rx desc=$rxd
tx desc=$txd
[port 6]
name=p6
mac=00:00:00:00:00:07
rx desc=$rxd
tx desc=$txd
[port 7]
name=p7
mac=00:00:00:00:00:08
rx desc=$rxd
tx desc=$txd

[variables]
$bulk=8
$rxd=1024
$txd=256
$c1=1s1,1s1h,9s1,9s1h
$c2=2s1,2s1h,10s1,10s1h
$c3=3s1,3s1h,11s1,11s1h
$c4=4s1,4s1h,12s1,12s1h
$c5=5s1,5s1h,13s1,13s1h
$c6=6s1,6s1h,14s1,14s1h
$c7=7s1,7s1h,15s1,15s1h
$c8=8s1,8s1h,16s1,16s1h
$r1=1s0
$r2=2s0
$r3=3s0
$r4=4s0
$r5=5s0
$r6=6s0
$r7=7s0
$r8=10s0

[defaults]
mempool size=4K

[global]
start time=5
name=Basic Gen

[core 0s1]
mode=master

[core $c1]
name=p0
task=0
mode=gen
tx port=p0
bps=1250000000
pkt inline=00 1b 21 b1 23 14 00 00 01 00 00 01 08 00 45 00 00 20 00 01 00 00 40 11 00 00 21 00 00 02 44 00 00 02 13 88 13 88 00 0c 00 00 00 00 00 00 00 00 00 00 00
min bulk size=$bulk
max bulk size=$bulk
random=0XXXXXXXXXXXXX10
rand_offset=34
random=0XXXXXXXXXXXXX10
rand_offset=36
lat pos=42
packet id pos=46

[core $c2]
name=p1
task=0
mode=gen
tx port=p1
bps=1250000000
pkt inline=00 1b 21 b1 23 15 00 00 02 00 00 02 08 00 45 00 00 20 00 01 00 00 40 11 00 00 29 00 00 02 45 00 00 02 13 88 13 88 00 0c 55 7b 00 00 00 00 00 00 00 00 00
min bulk size=$bulk
max bulk size=$bulk
random=0XXXXXXXXXXXXX10
rand_offset=34
random=0XXXXXXXXXXXXX10
rand_offset=36
lat pos=42
packet id pos=46

[core $c3]
name=p2
task=0
mode=gen
tx port=p2
bps=1250000000
pkt inline=90 e2 ba a7 64 44 00 00 02 00 00 02 08 00 45 00 00 20 00 01 00 00 40 11 00 00 31 00 00 02 46 00 00 02 13 88 13 88 00 0c 55 7b 00 00 00 00 00 00 00 00 00
min bulk size=$bulk
max bulk size=$bulk
random=0XXXXXXXXXXXXX10
rand_offset=34
random=0XXXXXXXXXXXXX10
rand_offset=36
lat pos=42
packet id pos=46

[core $c4]
name=p3
task=0
mode=gen
tx port=p3
bps=1250000000
pkt inline=90 e2 ba a7 64 45 00 00 02 00 00 02 08 00 45 00 00 20 00 01 00 00 40 11 00 00 39 00 00 02 47 00 00 02 13 88 13 88 00 0c 55 7b 00 00 00 00 00 00 00 00 00
min bulk size=$bulk
max bulk size=$bulk
random=0XXXXXXXXXXXXX10
rand_offset=34
random=0XXXXXXXXXXXXX10
rand_offset=36
lat pos=42
packet id pos=46

[core $c5]
name=p4
task=0
mode=gen
tx port=p4
bps=1250000000
pkt inline=90 e2 ba a5 a4 38 00 00 01 00 00 01 08 00 45 00 00 20 00 01 00 00 40 11 00 00 11 00 00 02 42 00 00 02 13 88 13 88 00 0c 00 00 00 00 00 00 00 00 00 00 00
min bulk size=$bulk
max bulk size=$bulk
random=0XXXXXXXXXXXXX10
rand_offset=34
random=0XXXXXXXXXXXXX10
rand_offset=36
lat pos=42
packet id pos=46

[core $c6]
name=p5
task=0
mode=gen
tx port=p5
bps=1250000000
pkt inline=90 e2 ba a5 a4 39 00 00 02 00 00 02 08 00 45 00 00 20 00 01 00 00 40 11 00 00 19 00 00 02 43 00 00 02 13 88 13 88 00 0c 55 7b 00 00 00 00 00 00 00 00 00
min bulk size=$bulk
max bulk size=$bulk
random=0XXXXXXXXXXXXX10
rand_offset=34
random=0XXXXXXXXXXXXX10
rand_offset=36
lat pos=42
packet id pos=46

[core $c7]
name=p6
task=0
mode=gen
tx port=p6
bps=1250000000
pkt inline=90 e2 ba a5 a4 44 00 00 02 00 00 02 08 00 45 00 00 20 00 01 00 00 40 11 00 00 01 00 00 02 40 00 00 02 13 88 13 88 00 0c 55 7b 00 00 00 00 00 00 00 00 00
min bulk size=$bulk
max bulk size=$bulk
random=0XXXXXXXXXXXXX10
rand_offset=34
random=0XXXXXXXXXXXXX10
rand_offset=36
lat pos=42
packet id pos=46

[core $c8]
name=p7
task=0
mode=gen
tx port=p7
bps=1250000000
pkt inline=90 e2 ba a5 a4 45 00 00 02 00 00 02 08 00 45 00 00 20 00 01 00 00 40 11 00 00 09 00 00 02 41 00 00 02 13 88 13 88 00 0c 55 7b 00 00 00 00 00 00 00 00 00
min bulk size=$bulk
max bulk size=$bulk
random=0XXXXXXXXXXXXX10
rand_offset=34
random=0XXXXXXXXXXXXX10
rand_offset=36
lat pos=42
packet id pos=46

[core $r1]
name=r1
task=0
mode=arp
rx port=p0
tx port=p0
tx cores=(${r1})t1
task=1
mode=lat
rx ring=yes
lat pos=42
packet id pos=46

[core $r2]
name=r2
task=0
mode=arp
rx port=p1
tx port=p1
tx cores=(${r2})t1
task=1
mode=lat
rx ring=yes
lat pos=42
packet id pos=46

[core $r3]
name=r3
task=0
mode=arp
rx port=p2
tx port=p2
tx cores=(${r3})t1
task=1
mode=lat
rx ring=yes
lat pos=42
packet id pos=46

[core $r4]
name=r4
task=0
mode=arp
rx port=p3
tx port=p3
tx cores=(${r4})t1
task=1
mode=lat
rx ring=yes
lat pos=42
packet id pos=46

[core $r5]
name=r5
task=0
mode=arp
rx port=p4
tx port=p4
tx cores=(${r5})t1
task=1
mode=lat
rx ring=yes
lat pos=42
packet id pos=46

[core $r6]
name=r6
task=0
mode=arp
rx port=p5
tx port=p5
tx cores=(${r6})t1
task=1
mode=lat
rx ring=yes
lat pos=42
packet id pos=46

[core $r7]
name=r7
task=0
mode=arp
rx port=p6
tx port=p6
tx cores=(${r7})t1
task=1
mode=lat
rx ring=yes
lat pos=42
packet id pos=46

[core $r8]
name=r8
task=0
mode=arp
rx port=p7
tx port=p7
tx cores=(${r8})t1
task=1
mode=lat
rx ring=yes
lat pos=42
packet id pos=46
